body{

font-family:Poppins,sans-serif;

background:#f4f6f9;

padding:30px;

}

.container{

max-width:900px;

margin:auto;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

h1,h2{

text-align:center;

margin-bottom:20px;

}

form{

display:grid;

gap:15px;

margin-bottom:30px;

}

input{

padding:12px;

font-size:16px;

border:1px solid #ddd;

border-radius:8px;

}

button{

padding:12px;

background:#18a558;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

.station{

border:1px solid #ddd;

padding:20px;

margin-top:15px;

border-radius:10px;

display:flex;

justify-content:space-between;

align-items:center;

}

.deleteBtn{

background:red;

}