*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#eef3f7;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.booking-container{

width:550px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.12);

}

.booking-container h1{

text-align:center;

margin-bottom:30px;

color:#18a558;

}

.input-group{

margin-bottom:18px;

}

.input-group label{

display:block;

margin-bottom:8px;

font-weight:500;

}

.input-group input,

.input-group select{

width:100%;

padding:14px;

border:1px solid #ddd;

border-radius:8px;

font-size:16px;

outline:none;

}

button{

width:100%;

padding:15px;

background:#18a558;

border:none;

color:white;

font-size:18px;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#12864a;

}

#message{

margin-top:15px;

text-align:center;

}